<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <base href="{{ baseUrl }}" />
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <img class="logo" width="100" height="100" />
      <h1>שלום, שמי {{ name }}</h1>
      <h1>שלום, עולם!</h1>
      <p>זהו מסמך PDF שנוצר מתוך קובץ HTML עם עיצוב מותאם אישית.</p>
      <p>השתמשנו בגופן ייחודי ובעיצוב מקצועי כדי להציג את התוכן בצורה נעימה.</p>
      <p>ניתן להוסיף טקסט, תמונות, רשימות ועוד, הכל בעברית ובאופן אלגנטי.</p>
      <p>זהו פתרון מעולה לדוחות, קבלות, מסמכים מותאמים אישית ועוד.</p>
      <p>בהצלחה בפרויקט שלך!</p>
      {% if cond==True %}
      <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% if cond2==True %}
      <div>aaaaaaaa</div>
      {% endif %}
    </div>
  </body>
</html>
